@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #b89bfd;
  --card-bg: #fff;
  --title-color: #333;
}

*,
::before,
::after {
  box-sizing: border-box;
}

*::selection {
  background-color: #d2d9f0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #eff1f7;
}

.container {
  background-color: var(--card-bg);
  padding: 25px;
  max-width: 760px;
  margin: 25px auto;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0.25rem 0.5rem rgba(250, 249, 250, 0.15);
}

h1,
h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 500;
}

h2 {
  font-size: 20px;
  padding: 0 0 10px;
  border-bottom: 1px solid var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.new-task-container {
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  align-items: center;
}

.new-task-container label {
  justify-self: right;
}

input {
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  outline: 0;
}

input:not(input[type='checkbox']) {
  width: 100%;
}

input[type='text'] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

input[type='submit'] {
  background-color: var(--title-color);
  cursor: pointer;
  color: var(--card-bg);
  font-weight: 600;
}

input[type='checkbox'] {
  cursor: pointer;
}

.box {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background: #fff;
  margin: 15px 0;
}

.box:last-child {
  margin-bottom: 0;
}

.todo-list {
  float: left;
  width: 46%;
}

.complete-list {
  float: right;
  width: 46%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
}

li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.update {
  float: right;
  background-color: blue;
  color: white;
  border: 0px;
  padding: 3px 5px;
}

.delete {
  float: right;
  background-color: var(--title-color);
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: 0px;
  padding: 3px 10px;
  border-radius: 4px;
  cursor: pointer;
}
